.contenedor-perfil{
    width: 100%;
    max-width: 950px;
    margin: 30px auto;
    padding: 0 15px;
}

.perfil-card{
    border:none;
    border-radius:18px;
}

.card-header{
    border-radius:18px 18px 0 0 !important;
}

.encabezado-perfil{
    background-color: #1A3C5E !important
}

.perfil-header{
    padding-bottom:25px;
    border-bottom:1px solid #1A3C5E ;
}

.avatar-perfil{
    width:90px;
    height:90px;
    border-radius:50%;
    background:linear-gradient(#1A3C5E);
    color:#fff;
    font-size:34px;
    font-weight:bold;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
    box-shadow:0 4px 12px rgba(0,0,0,.15);
}

.seccion-perfil{
    border:1px solid #dee2e6;
    border-radius:14px;
    overflow:hidden;
    margin-bottom:25px;
    background:#fff;
    box-shadow:0 2px 8px rgba(0,0,0,.05);
}

.cabecera-seccion{
    background:linear-gradient(#1A3C5E);
    color:white;
    font-weight:600;
    padding:14px 20px;
}

.contenido-seccion{
    padding:20px;
}

.form-label{
    font-weight:600;
    color:#495057;
}

.form-control:read-only,
.form-select:disabled{
    background:#f8f9fa;
}

#btnEditar,
#btnGuardar,
#btnCancelar{
    min-width:150px;
}